[Unit]
Description=HMI Launcher Service for FSA configuration file
Requires=fuel_stop_advisor.service navit_genivi_mapviewer_fsa.service navit_genivi_navigationcore_fsa.service poi-server.service
After=fuel_stop_advisor.service navit_genivi_mapviewer_fsa.service navit_genivi_navigationcore_fsa.service poi-server.service

[Service]
Environment=LD_PRELOAD=/usr/lib/libEGL.so
ExecStart=/usr/bin/hmi-launcher -platform wayland /usr/bin/navigation-application/qml/NavigationApp.qml
